@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    
    background-color:navy;
}

.form {
    padding: 10px 20px;
    
    
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Bangers', cursive;
    text-decoration: underline;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: x-large;
    color: #fff;
    
}



.form-field label {
    display: block;
    color: white;
    margin-bottom: 5px;
    font-family: 'Goldman', cursive;

    letter-spacing: 3px;
}

.form-field input {
    border: solid 2px rgb(28, 6, 78);
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    display: block;
    width: 100%;
    
    
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
    
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
    margin-right: 20px;
   
}


/* button */
#btn {
    width: 100%;
    background-color:rgb(32, 7, 65);
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    border-radius: 20px;
}

.btn:hover {
    
    cursor: pointer;
}

.btn:focus {
    outline: none;
}
